.App {
  text-align: center;
}

/* .App-logo {
  height: 0vmin;
} */

.App-header {
  background-color: brown;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #09d3ac;
}
.body{
  background-color: brown;
}
.card{
  display:flex;
  position: fixed;
  bottom: 0
}
